<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burgers</title>
		<link rel="stylesheet" type="text/css" href="/public/assets/css/burger.css">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
