<div class="container">

  <div>
    <img src="/public/assets/images/burgerimage.jpg" alt="Image of a burger">
  </div>




<ul>
  {{#each burgers}}
    <li>
      <p>Type: {{burger_name}}</p>
      <p>devoured: {{devoured}}</p>
    </li>
  {{/each}}
</ul>

</div>


