<div class="container">

  <div>
    <img src="/assets/images/burgerimage.jpg" alt="Image of a burger" class="center">
  </div>

  <h1>Eat-Da-Burger!</h1>
<br>
<br>

<div>
<ul>
  {{#each burgers}}
    <li>
      <p>Type: {{burger_name}}</p>
      <p>devoured: {{devoured}}</p>
      		{{#if devoured}}
          {{!-- condition to bring this li to the right --}}

 {{else}} <button class="devoured" data-id="{{id}}">
        Devour it!
 </button>{{/if}}

    </li>
  {{/each}}
</ul>


